@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Erro";
}
<h1 class="text-danger">Erro não registrável.</h1>
<h2 class="text-danger">Ocorreu um erro ao executar a sua operação.</h2>
<h2 class="text-danger">Tente novamente.</h2>
<h2 class="text-danger">Caso o erro persista, informe ao suporte.</h2>
<h2 class="text-danger">Este erro não foi registrado na log!</h2>
<h2 class="text-danger">Ao reportar forneça detalhes da operação que estava executando.</h2>
