<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>52.191.214.241</MSDeployServiceURL>
    <DeployIisAppPath>gestor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>plastifluor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SqlServer" Order="1" Enabled="False">
          <Destination Path="Data Source=Plastifluor\SQLEXPRESS;Initial Catalog=gestor;Integrated Security=True" Name="data source=Plastifluor\SQLEXPRESS; initial catalog=gestor; integrated security=SSPI" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Gestor.Models.ApplicationDbContext, Gestor" MigrationConfiguration="Gestor.Migrations.Configuration, Gestor" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SqlServer-Web.config Connection String">
      <ParameterValue>data source=Plastifluor\SQLEXPRESS; initial catalog=gestor; integrated security=SSPI</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SqlServer-Web.config Connection String">
      <ParameterValue>data source=Plastifluor\SQLEXPRESS; initial catalog=gestor; integrated security=SSPI</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SqlServer-Web.config Connection String">
      <ParameterValue>data source=Plastifluor\SQLEXPRESS; initial catalog=gestor; integrated security=SSPI</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>