
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selecione a Ação desejada</h2>

<p><h3>@Html.ActionLink("Atualizar Custos de Cargos e Setores", "UploadFile", "Upload")</h3></p>
<p><h3>@Html.ActionLink("Atualizar Despesas Fixas", "DespFixas", "Upload")</h3></p>
<p><h3>@Html.ActionLink("Atualizar Faturamento Histórico", "FatHist", "Upload")</h3></p>