@model Gestor.Models.Marca

@{
    ViewBag.Title = "Confirmar Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Confirmar Eliminar</h2>
<h3>CONFIRME que realmente deseja eliminar o registro?</h3>
@Html.Partial("Common")
@using (Html.BeginForm("Erase", "Marcas", new { Id = Model.Id }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input class="btn btn-sm" type="submit" value="Eliminar" class="btn btn-primary" /> |
        @Html.ActionLink("Retornar a lista sem eliminar", "Index")
    </div>
}
